<!DOCTYPE html>
<html>

<head>
  <title>Portfolio</title>
  <meta charset="UTF-8">
  <meta name="author" content="Caleb">
  <meta name="description" content="Caleb's personal software development portfolio">
  <link rel="stylesheet" type="text/css" href="./style-index.css">
  <link rel="icon" type="image/png" href="../images/CS-logo-icon.png">
  <script src="https://kit.fontawesome.com/c05d037bf5.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Contrail+One|Courier+Prime|Faster+One|Graduate|Inconsolata|Krona+One|Nova+Square|Rationale|Revalia|Righteous|Roboto+Mono|Saira+Stencil+One|Shojumaru|Source+Code+Pro|Syncopate|Unlock|Wallpoet&display=swap" rel="stylesheet">
</head>

<body class="body">
  <nav id="navbar">
    <header id="main-logo">
      <a href="#">
        <img id="header-img" src="../images/CS-logo2.svg" alt="Caleb portfolio logo">
      </a>
    </header>
    <div id="link-container">
      <ul class="links" id="main-links">
        <li class="nav-item"><a class="link-item" href="#"><i class="fas fa-home"></i></a></li>
        <li class="nav-item"><a class="link-item" href="#"><i class="fas fa-user-tie"></i></a></li>
        <li class="nav-item"><a class="link-item" href="#"><i class="fas fa-code"></i></a></li>
        <li class="nav-item"><a class="link-item" href="#"><i class="fas fa-laptop"></i></a></li>
      </ul>
      <ul class="links" id="social-links">
        <li class="nav-item" id="social-item"><a class="link-item" href="#"><i class="fab fa-linkedin-in"></i></a></li>
        <li class="nav-item" id="social-item"><a class="link-item" href="#"><i class="fab fa-github"></i></a></li>
      </ul>
    </div>
  </nav>
  <main>
    <div id="introduction">
      <h2 class="headers" id="main-intro">Hello, I'm Caleb,<br>web developer.</h2>
      <h3 class="headers" id="sub-intro">Front End Developer / Continually Growing</h3>
      <button class="main-button" id="contact-button" type="button">Contact</button>
    </div>
  </main>
</body>

</html>