/*********************** Body/Global ***********************/
:root {
  --main-background: rgb(145, 145, 145);
}

body {
  position: relative;
  background-color: var(--main-background);
  
}

/*********************** Navigation ***********************/

#navbar {
  position: fixed;
  width: 4.5rem;
  height: 100%;
  background-color: rgb(41, 46, 46);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  left: 0px;
  top: 0px;
}

header {
  background-color: grey;
  border-style: solid solid none solid;
  border-color: rgb(41, 46, 46);
}

#header-img {
  max-width: 65%;
  height: auto;
  display: block;
  margin: 0.35rem auto;
  padding: 0;
}

#link-container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

#main-links {
  padding: 0;
  margin: 0;
  text-align: center;
}

#social-links {
  padding: 0;
  text-align: center;
}

.link-groups {
  list-style: none;
}

.nav-item {
  font-size: 1.5rem;
  margin: 1.7rem 0;
}

.social-item {
  margin: 1rem 0;
  font-size: 1.25rem;
}

/* ~ Main Link Hover Effects */

.page-link {
  position: relative;
  text-decoration: none;
  color: grey;
  display: block;
  transition: ease-in 200ms;
}

.page-link:hover {
  color: rgba(9, 186, 240, 1);
}

.page-link::after {
  font-family: "Bungee Inline";
  font-size: 0.9rem;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  padding-top: 0.3rem;
  background-color: rgb(41, 46, 46);
  color: rgba(9, 186, 240, 1);
  opacity: 0;
  transition: ease-in 155ms;
}

.page-link:hover::after {
  opacity: 1;
}

#home-link::after {
  content: "home";
}

#about-link::after {
  content: "about";
}

#tech-link::after {
  content: "Tech";
}

#portfolio-link::after {
  content: "portfolio";
  font-size: 0.7rem;
}

.social-connect {
  position: relative;
  text-decoration: none;
  color: grey;
  display: block;
}

.social-connect:hover {
  color: rgb(9, 186, 240);
}

/*********************** Main Page ***********************/

main {
  position: absolute;
  margin-left: 10rem;
}

/* Background workaround to be able to adjust opacity of logo */
main::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/CS-logo2.svg);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 75% 25%;
  /* opacity: 0.45; */
  opacity: 0.75;
  z-index: -1;
}

#introduction {
  position: relative;
  top: 18rem;
  left: 2rem;
}

#main-intro {
  font-family: "Source Code Pro";
  font-size: 3.75rem;
  color: rgb(2, 28, 53);
  margin-bottom: 0.5rem;
}

#sub-intro {
  position: relative;
  top: 0.5rem;
  left: 0.25rem;
  color: rgba(37, 54, 70, 0.75);
  font-family: "Krona One";
  font-size: 1.25rem;
}

.headers {
  margin: 0;
}

/************* Components (Main Page) *************/

#contact-button {
  position: relative;
  top: 2.5rem;
  left: 0.4rem;
  padding: 0.5rem;
  font-family: "Krona One";
  font-size: 1.25rem;
  background: var(--main-background);
  border: 2px solid #755200;
  color: #755200;
  cursor: pointer;
}

#contact-button:hover {
  background-color: #755200;
  color: var(--main-background);
}


/* adapt for mobile/smaller screens */
