/*********************** Body/Global ***********************/
:root {
  --main-background: #919191;
  --main-background: rgb(145, 145, 145);
}

body {
  position: relative;
  background-color: var(--main-background);
  
}

/*********************** Navigation ***********************/

#navbar {
  position: fixed;
  width: 4.5rem;
  height: 100%;
  background-color: rgb(35, 39, 39);
  background-color: rgb(41, 46, 46);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  left: 0px;
  top: 0px;
}

header {
  background-color: rgb(58, 66, 66);
  background-color: rgb(41, 46, 46);
  background-color: rgb(126, 136, 136);
  background-color: rgb(27, 31, 31);
  background-color: rgb(62, 71, 73);
}

#header-img {
  max-width: 65%;
  height: auto;
  display: block;
  margin: 0.35rem auto;
  padding: 0;
}

#link-container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

#main-links {
  padding: 0;
  margin: 0;
  text-align: center;
}

#social-links {
  padding: 0;
  text-align: center;
}

.link-groups {
  list-style: none;
}

.nav-item {
  font-size: 1.5rem;
  margin: 1.7rem 0;
}

.social-item {
  margin: 1rem 0;
  font-size: 1.25rem;
}

.page-link {
  position: relative;
  text-decoration: none;
  color: grey;
  display: block;
}

#home-link {
  transition: ease-in 250ms;
}

#home-link:hover {
  color: rgba(9, 186, 240, 1);
}

#home-link::after {
  font-size: 1rem;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  padding-top: 0.35rem;
  background-color: rgb(41, 46, 46);
  content: "home";
  color: rgba(9, 186, 240, 1);
  opacity: 0;
  transition: ease-in 250ms;
}

#home-link:hover::after {
  opacity: 1;
}

.social-connect {
  position: relative;
  text-decoration: none;
  color: grey;
  display: block;
}

.social-connect:hover {
  color: rgb(9, 186, 240);
}

/*********************** Main Page ***********************/

main {
  position: absolute;
  margin-left: 10rem;
}

/* Background workaround to be able to adjust opacity of logo */
main::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/CS-logo2.svg);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 65% 25%;
  opacity: 0.4;
  z-index: -1;
}

#introduction {
  position: relative;
  top: 18rem;
  left: 2rem;
}

#main-intro {
  font-family: "Courier Prime";
  font-family: Inconsolate;
  font-family: "Krona One";
  font-family: "Nova Square";
  font-family: Rationale;
  font-family: "Roboto Mono";
  font-family: "Source Code Pro";
  font-size: 3.5rem;
  color: #021c35;
  color: rgb(2, 28, 53);
  /* color: #021c35; */
  margin-bottom: 0.5rem;
}

#sub-intro {
  position: relative;
  top: 0.5rem;
  left: 0.25rem;
  color: rgba(37, 54, 70, 0.75);
  font-family: Revalia;
  font-family: "Roboto Mono";
  font-family: "Courier Prime";
  font-family: "Graduate";
  font-family: "Krona One";
}

.headers {
  margin: 0;
}

/************* Components (Main Page) *************/

#contact-button {
  position: relative;
  top: 2.5rem;
  left: 0.4rem;
  padding: 0.5rem;
  font-family: Inconsolata;
  font-family: "Saira Stencil One";
  font-size: 1.25rem;
  background: var(--main-background);
  border: 2px solid rgb(5, 169, 219);
  border: 2px solid rgb(6, 101, 129);
  border: 2px solid #831D01;
  border: 2px solid #755200;
  color: rgb(5, 169, 219);
  color: rgb(6, 101, 129);
  color: #831D01;
  color: #755200;
  cursor: pointer;
}

#contact-button:hover {
  background-color: #831D01;
  background-color: #755200;
  color: var(--main-background);
}


/* adapt for mobile/smaller screens */